<div class="card m-3 bg-success products " *ngIf= "product.title"  style="width: 21rem">
    <img class="card-img-top" [src]="product.imageUrl" *ngIf= "product.imageUrl" alt="{{product.title}}" />
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.price | currency: "USD":true }}</p>
      <p class="card-text">{{ product.categorie }}</p>
     
    </div>
    <div class="card-footer">
        <button class="btn btn-danger btn-block w-100 rounded" *ngIf="showActoins" (click)="addToCart(product)" >Add To Cart</button>
    </div>
  </div>