<div class="box-slider">
  <button class="btn btn-danger delete" (click)="delete()">X</button>
  <div class="sliderBOx">
    <div class="previewbox">
      <img onError="this.src='https://res.cloudinary.com/itjewelers-llc/image/upload/v1575105193/marla/HomePage/loader.gif'" width="180px" height="200px"   class="review" src="{{preview}}" id="preview" />
      
    </div>
    <hr />
    <div class="slider">
      <div class="uploadbtn">
        <label  *ngIf="images.length <5 "for="upload" class="btn btn-success">+</label>
        <img *ngFor= "let image of images;let index=index" src="{{image}}" width="180px" height="150px" style="display: inline-block;margin-left: 15px; margin-top:5px;" (click)="displayImage(index)">
        <input type="file" name="" id="upload" hidden (change)="UploadImages($event)" multiple>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center p-4">
      <button [disabled]="!preview  ||imageIndex == 0" (click)="prev()" class="btn btn-danger" ><mat-icon>arrow_back</mat-icon></button>
      <button [disabled]="!preview  || imageIndex == (images.length -1)" (click)="next()" class="btn btn-danger"><mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
</div>
