<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
    <div class="container">
      <a class="navbar-brand" >E - <span>Commerce &nbsp;🔥</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="isAuthenticate"  routerLinkActive="active">
            <a class="nav-link " aria-current="page"  routerLink="/home">Home</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticate" routerLinkActive="active">
            <a class="nav-link"  routerLink="/products">Our Produsts</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticate" routerLinkActive="active">
            <a class="nav-link"  routerLink="/gallery">Gallery</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticate" routerLinkActive="active">
            <a class="nav-link" >Room</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticate" routerLinkActive="active">
            <a class="nav-link"  routerLink="/testimonials">Testimonials</a>
          </li>
          <!-- <li class="nav-item" *ngIf="isAuthenticate" routerLinkActive="active">
            <a class="nav-link" >About Us</a>
          </li> -->
          <li class="nav-item" *ngIf="isAuthenticate" routerLinkActive="active">
            <a class="nav-link" routerLink="/contactUs">Contact Us</a>
          </li>
          <li ngbDropdown  *ngIf= "auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  style="cursor:pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            *ngIf="isAuthenticate">
              {{ user.displayName }}
            </a>
            <div  ngbDropdownMenu class="dropdown-menu" >
              <a class="dropdown-item"  routerLink="/my/orders">My Orders</a>
              <a class="dropdown-item"  routerLink="/admin/products">Manage Products</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  routerLink="/admin/orders">Manage orders</a>
            </div>
          </li>
         <ng-template #anonymousUser>
          <!-- <li class="nav-item " routerLinkActive="active">
            <a class="nav-link text-danger mx-5 logoutLogo"  *ngIf="isAuthenticate" routerLink="/auth"  (click)="onLogout()">Log In </a>
          </li> -->

         </ng-template>
         <li class="nav-item " routerLinkActive="active">
          <a class="nav-link text-danger mx-3 logoutLogo"  *ngIf="isAuthenticate" routerLink="/auth"  (click)="onLogout()">Log Out </a>
        </li>
         

          <li class="nav-item cart"  *ngIf="isAuthenticate" >
            <a class="nav-link" routerLink="/shopping-cart" >🛒
            <span class="badge badge-warning badge-pill bg-success" style="margin-left: -7px;" *ngIf="Cart$ |async as cart">
              {{ cart.totalItemCount }}
            </span>
            </a>
          </li>
         
         
        </ul>
      </div>
     
    </div>
    
  </nav>
  <hr>