<div class="container  about">
    <section class="parallax  min-vw-100" >

        <div class="parallax-inner" >
    
           <div class="content">
            <img src="https://img.freepik.com/free-photo/business-woman-park-with-red-bag_1303-24839.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="">
            <div class="text1">
                <h1>About Us</h1>
                <h6>Shopping Online Website</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus repellat quos aut quod, veritatis aliquid officiis beatae quisquam, consectetur saepe laudantium fugiat repellendus expedita vel error ad adipisci. Assumenda, rerum.</p>
                <button type="submit" class="btn btn-danger">Read More ...</button>
           </div>

            </div>
    
    
       </div>
    
    </section>
</div>
