<div class="row m-5 d-flex justify-content-center logo rounded" >
    <div class="col-xs-12 col-md-7 col-md-offset-3">
        <!-- <div class="alert alert-danger m-5" *ngIf="error">
            <p> {{ error }}</p>
        </div> -->
        <app-alert [message]="error"
         *ngIf="error"
          (close)="onHandleError()"></app-alert>
        <div *ngIf="isLoading" style="text-align: center;" class="m-5">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form  #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading" class="m-5 ">
            <div class="form-group">
                <label for="Email" class="text-danger">E-Mail</label>
                <input type="email" id="Email" class="form-control" 
                ngModel
                name="email"
                required
                email
                >
            </div>
            <div class="form-group my-4">
                <label for="password" class="text-danger">Password</label>
                <input type="password" id="password" class="form-control"
                ngModel
                name="password"
                required
                minlength="10">
            </div>
            <div class="my-5">
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
                {{ isLoginMode ? "Login" : "SignUp " }}</button>
                 &nbsp;  &nbsp;
                <button class="btn btn-info signUPBtn" (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'sign Up' :'Login'}}</button>
            </div>
            <button  (click)="loginGoogle()"  class="btn btn-danger" > Login With Google </button>
            <img height="150px" width="200px"  class="logo float-end rounded mt-4"src="https://cdn.dribbble.com/users/4107081/screenshots/9976207/media/1809db221885c1b795177c4a51f21cec.gif">
        </form>
        
    </div>
</div>