
<div class="mt-5 loader-success ">
    <h3 class="w-100 text-center mt-5"> Order Successed  &nbsp; ✔️</h3>
    <img src="https://cdn.dribbble.com/users/129972/screenshots/3964116/75_smile.gif"  alt="" srcset=""  height="280px" class="rounded">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
    <span style="--i:4;"></span>
    <span style="--i:5;"></span>
    <span style="--i:6;"></span>
    <span style="--i:7;"></span>
    <span style="--i:8;"></span>
    <span style="--i:9;"></span>
    <span style="--i:10;"></span>
</div>
