<section class="product spad">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="section-title">
            <h4>New Products</h4>
        </div>
    </div>
</div>
<div class="row property-gallery">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-item-pic">
                <img width="250px" height="250px" src="https://img.freepik.com/free-photo/variety-clothes-hanging-rack-boutique-fashion-shopping-concept_385506-7752.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <div class="label">New</div>
                <ul class="product-hover">
                    <li><a href="#"><img  width="30px" height="30px" src="assets//bag-shopping-solid.svg" ></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//heart-solid.svg"></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//maximize-solid.svg"></a></li>
                </ul>
            </div>
            <div class="product-item-text">
                <h6><a href="#">T-Shirts</a></h6>
                <div class="rating">
                    ⭐⭐⭐⭐⭐
                </div>
                <div class="product-price">$ 59.00 </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-item-pic">
                <img width="250px" height="250px" src="https://img.freepik.com/free-photo/view-hawaiian-shirt-with-pants-wallet_23-2149366038.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <div class="label">New</div>
                <ul class="product-hover">
                    <li><a href="#"><img  width="30px" height="30px" src="assets//bag-shopping-solid.svg" ></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//heart-solid.svg"></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//maximize-solid.svg"></a></li>
                </ul>
            </div>
            <div class="product-item-text">
                <h6><a href="#">T-Shirts</a></h6>
                <div class="rating">
                    ⭐⭐⭐⭐⭐
                </div>
                <div class="product-price">$ 59.00 </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-item-pic">
                <img width="250px" height="250px" src="https://t4.ftcdn.net/jpg/03/00/24/09/240_F_300240999_zY4YHrKvLwXHticUGVRsTzyxCRr1HGH6.jpg" alt="" srcset="">
                <div class="label">New</div>
                <ul class="product-hover">
                    <li><a href="#"><img  width="30px" height="30px" src="assets//bag-shopping-solid.svg" ></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//heart-solid.svg"></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//maximize-solid.svg"></a></li>
                </ul>
            </div>
            <div class="product-item-text">
                <h6><a href="#">T-Shirts</a></h6>
                <div class="rating">
                    ⭐⭐⭐⭐⭐
                </div>
                <div class="product-price">$ 59.00 </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-item-pic">
                <img width="250px" height="250px" src="https://t3.ftcdn.net/jpg/02/86/81/48/240_F_286814842_qGfJHkjfZKaJNHvqcgQD2Wi7nLBNVwLC.jpg" alt="" srcset="">
                <div class="label">New</div>
                <ul class="product-hover">
                    <li><a href="#"><img  width="30px" height="30px" src="assets//bag-shopping-solid.svg" ></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//heart-solid.svg"></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//maximize-solid.svg"></a></li>
                </ul>
            </div>
            <div class="product-item-text">
                <h6><a href="#">T-Shirts</a></h6>
                <div class="rating">
                    ⭐⭐⭐⭐⭐
                </div>
                <div class="product-price">$ 59.00 </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-item-pic">
                <img width="250px" height="250px" src="https://t4.ftcdn.net/jpg/03/22/39/67/240_F_322396794_C6DtIuWN8YtkPQcJpUUKmVOjdCvRsqyv.jpg" alt="" srcset="">
                <div class="label">New</div>
                <ul class="product-hover">
                    <li><a href="#"><img  width="30px" height="30px" src="assets//bag-shopping-solid.svg" ></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//heart-solid.svg"></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//maximize-solid.svg"></a></li>
                </ul>
            </div>
            <div class="product-item-text">
                <h6><a href="#">T-Shirts</a></h6>
                <div class="rating">
                    ⭐⭐⭐⭐⭐
                </div>
                <div class="product-price">$ 59.00 </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-item-pic">
                <img width="250px" height="250px" src="https://t4.ftcdn.net/jpg/04/31/41/91/240_F_431419178_8kqam46rcBJu3DE8iwZfJ2vbz0CeqbNp.jpg" alt="" srcset="">
                <div class="label">New</div>
                <ul class="product-hover">
                    <li><a href="#"><img  width="30px" height="30px" src="assets//bag-shopping-solid.svg" ></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//heart-solid.svg"></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//maximize-solid.svg"></a></li>
                </ul>
            </div>
            <div class="product-item-text">
                <h6><a href="#">T-Shirts</a></h6>
                <div class="rating">
                    ⭐⭐⭐⭐⭐
                </div>
                <div class="product-price">$ 59.00 </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-item-pic">
                <img width="250px" height="250px" src="https://t4.ftcdn.net/jpg/03/21/47/39/240_F_321473989_lvVy3MLf5wtFsnASvrZFE6Y2hiP0eFKF.jpg" alt="" srcset="">
                <div class="label">New</div>
                <ul class="product-hover">
                    <li><a href="#"><img  width="30px" height="30px" src="assets//bag-shopping-solid.svg" ></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//heart-solid.svg"></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//maximize-solid.svg"></a></li>
                </ul>
            </div>
            <div class="product-item-text">
                <h6><a href="#">T-Shirts</a></h6>
                <div class="rating">
                    ⭐⭐⭐⭐⭐
                </div>
                <div class="product-price">$ 59.00 </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-item-pic">
                <img width="250px" height="250px" src="https://t4.ftcdn.net/jpg/02/96/44/91/240_F_296449108_M6vrEM1M2HrA6OQDv443iXEk618dZifl.jpg" alt="" srcset="">
                <div class="label">New</div>
                <ul class="product-hover">
                    <li><a href="#"><img  width="30px" height="30px" src="assets//bag-shopping-solid.svg" ></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//heart-solid.svg"></a></li>
                    <li><a href="#"><img width="30px" height="30px" src="assets//maximize-solid.svg"></a></li>
                </ul>
            </div>
            <div class="product-item-text">
                <h6><a href="#">T-Shirts</a></h6>
                <div class="rating">
                    ⭐⭐⭐⭐⭐
                </div>
                <div class="product-price">$ 59.00 </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>