<div class="container">
    <h2 class="m-5 text-center">New Arrivals</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="product-top">
                <img width="250px" height="250px"src="https://img.freepik.com/free-photo/adorable-curly-woman-paints-her-lips-with-red-lipstick-laughs-pink-background_197531-17569.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <a (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="product-top">
                <img  width="250px" height="250px" src="assets//bestsellingPackages//240_F_122466826_snZuwut3yuN8E0ZPoN6yzi6KwMULSEHB.jpg" alt="" srcset="">
                <a  (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-top">
                <img   width="250px" height="250px" src="assets//bestsellingPackages//240_F_244795451_3bjANV8ux5fZtWgFEnpHwgZSrWLpcp0W.jpg" alt="" srcset="">
                <a (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-top">
                <img  width="250px" height="250px" src="assets//bestsellingPackages//240_F_300240999_zY4YHrKvLwXHticUGVRsTzyxCRr1HGH6.jpg" alt="" srcset="">
                <a  (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-top">
                <img width="250px" height="250px" src="assets//bestsellingPackages//240_F_321269346_8AieZqnDCW0XVLIVvEFDFR2PqtYWAW68.jpg" alt="" srcset="">
                <a (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-top">
                <img  width="250px" height="250px" src="assets//bestsellingPackages//240_F_334796865_VVTjg49nbLgQPG6rgKDjVqSb5XUhBVsW.jpg" alt="" srcset="">
                <a (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
    </div>
</div>
