<div class="container">
    <h2 class="m-5 text-center">New Arrivals</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="product-top">
                <img width="250px" height="250px"src="https://img.freepik.com/free-photo/adorable-curly-woman-paints-her-lips-with-red-lipstick-laughs-pink-background_197531-17569.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <a (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="product-top">
                <img  width="250px" height="250px" src="https://img.freepik.com/free-photo/beautiful-young-girl-with-natural-nude-makeup-with-cosmetic-tools-hands-beauty-face_151428-3.jpg?size=338&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <a  (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-top">
                <img   width="250px" height="250px" src="https://img.freepik.com/free-photo/high-fashion-look-glamor-closeup-portrait-beautiful-sexy-stylish-blond-caucasian-young-woman-model-with-bright-makeup_158538-2921.jpg?size=338&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <a (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-top">
                <img  width="250px" height="250px" src="https://img.freepik.com/free-photo/make-up-products-arrangement-top-view_23-2149096666.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <a  (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-top">
                <img width="250px" height="250px" src="https://img.freepik.com/free-photo/young-beauty-girl-with-creative-make-up-blue-black-shadows-painted-her-face-conceptual-idea_613910-19427.jpg?size=338&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <a (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-top">
                <img  width="250px" height="250px" src="https://img.freepik.com/free-photo/beautiful-set-professional-makeup-cosmetics-dark-table_23-2148181425.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
                <a (click)="detailsProduct($event)" class="details">More Details</a>
            </div>
        </div>
    </div>
</div>
