<h1 class="mt-5 p-3 text-center">Shopping Cart</h1>
<ng-container *ngIf="Cart$ |async as cart">
    <p>
        You Have {{ cart.totalItemCount  }} item in shopping Cart
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- fix product render on shopping cart all products should appear -->
            <tr *ngFor="let item of cart.items">
                <td>{{item.product.title}}</td>
                <td>{{item.quantity}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</ng-container>
