
<div class="gallery-container">
<div class="gallery">
<div class="gallery-img" *ngFor= "let data of GalleryData; let i= index">
    <img [src]= "data?.['imageSrc']" [alt]= "data?.['imageAlt']"  width="320px" height="250px" (click)="onPreviewImage(i)"/>
</div>

</div>
<div  *ngIf ="showMask"class="lightbox">
<span *ngIf="showCount" class="count">{{ currentIndex + 1 }} / {{ totalImageCount }}</span>

<button *ngIf="previewImage" class="close-btn">
    ❌
</button>
<button 
*ngIf="controls"
class="btn-lightbox-carsoul btn-prev">
⬅️
</button>
<button 
*ngIf="controls"
class="btn-lightbox-carsoul btn-next">
➡️
</button>
<div *ngIf="previewImage"  class="lightbox-img">
    <img [src]="currentLightBOXIMAGE.imageSrc" [alt]="currentLightBOXIMAGE.imageAlt" />
</div>
</div>

</div>
