<h3 class="text-center mt-5" style="color: red">Our Products</h3>
<div class="gallery-container">
  <div class="gallery">
    <div class="gallery-img" *ngFor="let data of GalleryData; let i = index">
      <img
        [src]="data?.['imageSrc']"
        [alt]="data?.['imageAlt']"
        width="320px"
        height="250px"
        (click)="onPreviewImage(i)"
      />
    </div>
  </div>
  <div *ngIf="showMask" class="lightbox" @animation2>
    <span *ngIf="showCount" class="count"
      >{{ currentIndex + 1 }} / {{ totalImageCount }}</span
    >

    <button (click)="onClosePreview()" *ngIf="previewImage" class="close-btn">
      ❌
    </button>
    <button *ngIf="controls" class="btn-lightbox-carsoul btn-prev" (click)="prev()">⬅️</button>
    <button *ngIf="controls" class="btn-lightbox-carsoul btn-next" (click)="next()">➡️</button>
    <div
      *ngIf="previewImage"
      [@animation]="{ value: 'visible' }"
      (@animation.done)="onAnimationEnd($event)"
      class="lightbox-img"
    >
      <img
        [src]="currentLightBOXIMAGE.imageSrc"
        [alt]="currentLightBOXIMAGE.imageAlt"
      />
    </div>
  </div>
</div>
