
<h2 class="text-center mt-5">Our Products</h2>
<div class="row">
  <div class="col-3">
  <app-product-filter [category]="category"></app-product-filter>
  </div>
  <div class="col">
    <div class="row ">
        <div *ngIf= "filteredProducts.length > 0" class="Category">
      <ng-container  *ngFor= "let p of filteredProducts ; let i = index">
        <div class="col ">
         <app-product-card [product]="p"></app-product-card>
        </div>
        <div *ngIf="(i + 1 ) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
    </div>
  </div>
</div>
