<section   class="product-slider mt-2">
<div class="row">
<div class="container-fluid">
<div  class="slider-wrap">
<div  class="slider-main">
<div  class="item-slider">
<div  class="image-slider">
1

</div>

</div>
<div  class="item-slider">
    <div  class="image-slider">
    1
    
    </div>
    
    </div>
    <div  class="item-slider">
        <div  class="image-slider">
        1
        
        </div>
        
        </div>
        <div  class="item-slider">
            <div  class="image-slider">
            1
            
            </div>
            
            </div>
            <div  class="item-slider">
                <div  class="image-slider">
                1
                
                </div>
                
                </div>
</div>
<div class="button-area">

    <button type="button" class="prev" appPrev>Prev</button>
    <button type="button" class="next" appNext>Next</button>

</div>


</div>

</div>

</div>

</section>