<section class="product-slider">
  <div class="row">
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main">
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="assets//slider//240_F_374542689_BqNJBpRQNLJnBOCBQ67RuslQw9TkwRSy.jpg"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="assets//slider//240_F_298122288_ial2GYfwtFC2j7nmsnrs9hAnKtxVKdct.jpg"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="assets//slider//240_F_220496250_045E74yeqTJtILSXWPiJAR7mGLrES50J.jpg"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="assets//slider//240_F_338039111_CgpUJxbCcSHMUwIrQ8RhaWWUbk8QvMvx.jpg"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="assets//slider//240_F_431458740_LwndbyNQKnQmVIuUztF4Nxd2aRaVVbLh.jpg"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="assets//slider//240_F_440793568_QJ6gv7vBGcbTCKCM1QlCb2gH1bvCvzUr.jpg"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-photo/living-room-scandinavian-interior-design_53876-146865.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
         
        </div>
        <div class="button-area">
          <button type="button" class="prev" appPrev>Prev</button>
          <button type="button" class="next" appNext>Next</button>
        </div>
      </div>
    </div>
  </div>
</section>
