<section class="product-slider">
  <div class="row">
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main">
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-psd/3d-realistic-polo-mockup-issolated_464463-2010.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-psd/poster-frame-living-room-psd-mockup_1150-62917.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-photo/scandinavian-living-room-interior-design-zoom-background_53876-143147.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-photo/modern-living-room-style_53876-144814.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-photo/green-sofa-modern-apartment-interior-with-empty-wall-wooden-table-3d-rendering_41470-3760.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-photo/living-room-scandinavian-interior-design_53876-146865.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-photo/green-interior-modern-interior-living-room-style-with-soft-sofa-green-wall-3d-rendering_41470-3902.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
          <div class="item-slider">
            <div class="image-slider">
              <img
                src="https://img.freepik.com/free-photo/chic-modern-luxury-aesthetics-style-living-room-gray-tone_53876-132806.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"
              />
            </div>
          </div>
        </div>
        <div class="button-area">
          <button type="button" class="prev" appPrev>Prev</button>
          <button type="button" class="next" appNext>Next</button>
        </div>
      </div>
    </div>
  </div>
</section>
