<div class="client-wrap">
    <h2>Our Brands!</h2>
    <hr>
    <div class="client-brands">
        <ul>
            <li>
                <img src="assets//brands//angrycreative-brands.svg" alt="" srcset="">
            </li>
            <li>
                <img src="assets//brands//app-store-brands.svg" alt="" srcset="">
            </li>
            <li>
                <img src="assets//brands//aviato-brands.svg" alt="" srcset="">
            </li>
            <li>
                <img src="assets//brands//buy-n-large-brands.svg" alt="" srcset="">
            </li>
            <li>
                <img src="assets//brands//cc-discover-brands.svg" alt="" srcset="">
            </li>
        </ul>
    </div>
</div>