<h2 class="testimonials-team-title">Our Team !</h2>
<div class="container container-testimonials">
    <div class="box">  
        <div class="imgBX">
            <img src="https://img.freepik.com/free-photo/gorgeous-white-girl-with-long-wavy-hair-chilling-autumn-day-outdoor-portrait-interested-ginger-female-model-with-cup-coffee_197531-11735.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
        </div>
        <div class="content">
            <h6>Sohair <br> <span>The Owner</span></h6>
        </div>
    </div>
    <div class="box">
        <div class="imgBX">
            <img src="https://img.freepik.com/free-photo/happy-smiling-handsome-man-against-blue-background_93675-135164.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
        </div>
        <div class="content">
            <h6>Ali <br> <span>The Creator</span></h6>
        </div>
    </div>
    <div class="box">
        <div class="imgBX">
            <img src="https://img.freepik.com/free-photo/young-woman-with-long-straight-hair-studio-portrait-attractive-brunette-girl-fashion-model-wears-black-shirt-anf-jeans-sexy-female-model_186202-7462.jpg?size=338&ext=jpg&ga=GA1.2.723611363.1645353369" alt="" srcset="">
        </div>
        <div class="content">
            <h6>Salma <br> <span>The Designer</span></h6>
        </div>
    </div>
</div>