<h2 class="testimonials-team-title ">Our Team !</h2>
<div class="container container-testimonials">
    <div class="box">  
        <div class="imgBX">
            <img src="assets//team//young-woman-with-long-straight-hair-studio-portrait-attractive-brunette-girl-fashion-model-wears-black-shirt-anf-jeans-sexy-female-model_186202-7462.webp" alt="" srcset="">
        </div>
        <div class="content">
            <h6>Sohair <br> <span>The Owner</span></h6>
        </div>
    </div>
    <div class="box">
        <div class="imgBX">
            <img src="assets//team//waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-m.webp" alt="" srcset="">
        </div>
        <div class="content">
            <h6>Ali <br> <span>The Creator</span></h6>
        </div>
    </div>
    <div class="box">
        <div class="imgBX">
            <img src="assets//team//surprised-happy-girl-pointing-left-recommend-product-advertisement-make-okay-gesture_176420-20191.webp" alt="" srcset="">
        </div>
        <div class="content">
            <h6>Salma <br> <span>The Designer</span></h6>
        </div>
    </div>
</div>