/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fredoka:wght@300;400&family=Indie+Flower&family=Lobster&family=Macondo&family=Ms+Madi&family=Nunito:wght@200;300;400&family=Pacifico&family=Playfair+Display:ital@0;1&family=Poppins:ital,wght@0,200;1,200&family=Redressed&family=Roboto:ital,wght@0,100;0,300;1,300&family=Sansita+Swashed:wght@300&family=Source+Code+Pro:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300;1,400&family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fredoka:wght@300;400&family=Indie+Flower&family=Lobster&family=Macondo&family=Ms+Madi&family=Nunito:wght@200;300;400&family=Pacifico&family=Playfair+Display:ital@0;1&family=Poppins:ital,wght@0,200;1,200&family=Redressed&family=Roboto:ital,wght@0,100;0,300;1,300&family=Sansita+Swashed:wght@300&family=Source+Code+Pro:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300;1,400&family=Varela&display=swap');

body,html,:root{
    width: 100%;
    width: 100%;
    box-sizing: border-box;
}
.logo{

/* width: 50%; */
mix-blend-mode: multiply;

}
body{
    margin-top:50px;
    margin: 0;
    padding: 0;
    background-color: #ac7a48;
}
.components{
    margin-top: 100px !important;
    
}
.first-par{
    color: white !important;
    font-family: 'Macondo', cursive;
    font-size: 22px;
    /* margin-left: -80px !important; */
    width: 500px;
    margin-top: -30px;
}

.navbar{
    background-color: #ac7a48 !important;
    border-bottom: 1px solid rgb(150, 135, 135);
}
.img-background{
    margin-right: -80px;
    margin-top: -110px;
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -430px;
}
.container .text{
    position: relative;
    color: black !important;
    font-size: 30px;
    font-weight: 600;
}
.container .text.first-text{
    color: #3e3d3b;
}
@media (min-width:368px){
   
    .img-background{
        margin-right: 5px;
        margin-top: 190px;
        margin-bottom: 40px;

    }
    .img-background img{
        width: 400px;
    }
    .first-par{
        width: 300px;
        margin-left: 0px ;
        margin-top: -100px;
    }
    .text-container{
       display: none;
       
    }
    .container-testimonials{
        grid-template-columns: repeat(1,1fr) !important;
    }
    /* .products{
        display: grid;
        grid-template-rows: repeat(1,1fr);
        margin: 30px;
        padding: 20px;
        
    } */
    .parallax{
        margin-left:0px;
    }
    .content{
        flex-wrap: wrap;
    }


}
@media (min-width:768px){
    .testimonials-team-title {
        margin-bottom: 100px;
    }
    .img-background{
        margin-right: 100px;
        margin-top: 170px;

    }
    .img-background img{
        width: 400px;
    }
    .text-container{
        display: none;
        
     }
    .first-par{
        width: 400px;
        margin-left: 0px ;
        margin-top: -50px;
    }
    .text-container{
        margin-left: -10px;
        display: flex;
    }
    .container-testimonials{
        grid-template-columns: repeat(2,1fr) !important;
    }
    .signUPBtn{
        margin-top: 50px;
    }
    /* .products{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        margin: 30px;
        padding: 20px;
        
    } */
    .parallax{
        margin-left: -50px;
    }
    .content{
        flex-wrap: wrap;
    }

}
@media (min-width:992px){
    .img-background{
        margin-right: -100px;
        margin-top: -110px;

    }
    .img-background img{
        width: 550px;
    }
    .first-par{
        width: 500px;
        margin-left: -80px ;
        margin-top: -30px;
    }
    .text-container{
        margin-left: -430px;
        display: flex;
    }
    .container-testimonials{
        grid-template-columns: repeat(3,1fr) !important;
    }
    .testimonials-team-title {
        margin-bottom: 0px ;
    }
    .signUPBtn{
        margin-top: 0px;
    }
    /* .products{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        margin: 30px;
        padding: 20px;
        
    } */
    .parallax{
        margin-left: -30px;
    }
    .content{
        flex-wrap: nowrap;
    }
    

}
.text.sec-text::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #ac7a48;
    border-left: 2px solid #3b312b;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
.order{
   border: 4px solid darkred;
   color: white;
   margin-left: 50px  !important;
}
.orderNow:hover{
    background-color: #251f1b;
    border-radius: 5px;
    
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}
.container-testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh !important;
    /* background: #010615; */
    flex-wrap: wrap;
    /* width: 1200px !important; */
    margin-top: 70px;
    display: grid !important;
    /* grid-template-columns: repeat(3,1fr) !important; */
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 28px;
  

}
.container .box .imgBX{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    z-index: 2;
   
   
}
.container .box:hover .imgBX{
    transform: translate(-35px ,-35px);
    
}
.container .box .imgBX img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
    transition: .5s ease-in-out;
}
.container .box:hover .content{
    transform: translate(35px ,35px);
}
.container .box .content h2{
    font-size: 20px;
    color: #111;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    align-items: center;
} 
.container .box .content h2 span{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
.social-links ul  a svg{
margin-top: -3px;
}
@media(max-width:768px){

    .container .box:hover .content{
        transform: translate(0 ,35px);
    }
    .container .box:hover .imgBX{
        transform: translate(0,-35px);
    }

}
.testimonials-team-title{
    margin-top: 70px;
    margin-bottom: -170px;
    text-align: center;
    font-family: 'Macondo', cursive;
}

.foot{
    margin-top: -50px !important;
    /* max-width: 1170px; */
    /* margin: auto; */
    
    
}
footer ul{
    list-style: none;
}
footer .row{
display: flex;
flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h1{
   font-size: 25px;
   margin-top: 50px;
   color: #fff;
   text-transform: capitalize;
   margin-bottom: 30px;
   font-weight: 500;
   position: relative;
}
.footer-col ul li a{
  text-decoration: none !important;
}
.footer-col h1::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:  rgb(8, 109, 8);
    height: 2px;
    box-sizing: border-box;
    width: 58px;
    height: 4px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.myName{
    color:white;
    font-size: 20px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    color: #bbb;
    display: block;
    transition: all 0.3s ease-in-out;

}
.footer-col ul li a:hover{
    color: #FFF;
    padding-left:7px ;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 30px;
   
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
   
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.footer-col .social-links a:hover{
    transform: scale(1.1);
}

@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}
@media(max-width:574px)
{
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }

}
.rights{
    color: rgb(12, 204, 12);
    font-weight: 700;
    margin-bottom: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container-contact-us{
    width: 50%;
    position: relative;
    margin-top: 250px;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    transform: translate(-50%,-50%);
}
.contact-us-form{
    width: 100% ;
    display: flex;
    flex-direction: column;
    margin-left: 55% ;
    
}
.form-group input,.form-group textarea{
    width: 100%;
}
.title-contact-us
{
    font-family: 'Macondo', cursive;
    font-size: 28px;
    color: white;
    font-weight: 700;
}
.parallax{
    background:url("https://img.freepik.com/free-photo/colour-smoke-background_71163-197.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369") no-repeat fixed  100%;
    background-size: cover;
    
}
.parallax-inner{
    
    padding-top: 5%;
    padding-bottom: 5%;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.about .content img{
    height: auto;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
}
.text1{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    margin-left: 30px;
}
.content{
    
    max-width: 95%;
    margin: 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    
}
.text1 h1 {
    color: #ffcc74;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text1 h6{
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.text1 p {
    color:#c0c4d6 ;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}