<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="slider">
            <div class="components">
                <p class="first-par m-5  text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex rem consequuntur at optio nostrum architecto perferendis asperiores neque </p>
                <div class="container text-container">
                    <span class="text first-text">
                        We are 
                    </span>
                    <span class="text sec-text">
                        &nbsp;
                        Modern Furniture 
                    </span>
                </div>
                <button class="m-3 p-2 btn btn-outline-danger order">Order Now!</button>
            </div>
            <div class="img-background float-end">
                <img src="https://img.freepik.com/free-photo/modern-living-room-interior-with-sofa-green-plants-lamp-table-living-room_46483-341.jpg?size=626&ext=jpg&ga=GA1.2.723611363.1645353369"  style="margin-top: -140px;border-radius: 10px;"  >
            </div>

        </div>
       
    </div>
</div>

<app-gallery [GalleryData]= "data"
[showCount]="true">
    
</app-gallery>
<app-testimonials ></app-testimonials>
<app-product-slider></app-product-slider>
<app-reviews></app-reviews>  
<app-new-products></app-new-products>

<app-about-us></app-about-us>
<app-contact-us></app-contact-us>
<app-footer></app-footer>





